/*Fonts*/

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

@font-face {
  font-family: curvyFont;
  src: url(fonts/Tomatoes-O8L8.ttf);
}

/*Variables (colors)*/

:root {
  --purple: #552e8b;
  --green: #159f52;
}

/*Basic styles*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

main {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
}

/*Left side*/

#left {
  width: 60%;
  background-color: var(--purple);
  color: white;
}

header {
  height: 90px;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

#aurora-img {
  margin-top: 1%;
  height: 55px;
}

#cutthrough {
  height: 50px;
}

.specialChar {
  font-size: 2rem;
}

.firstP {
  width: 90%;
  height: 120px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--green);
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 1%;
  line-height: 1.4;
}

.secondP {
  width: 90%;
  font-size: 1.9rem;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 1%;
}

h2 {
  font-family: "curvyFont", sans-serif;
  font-size: 2rem;
  padding-left: 5%;
  margin-bottom: 1%;
}

#advantages {
  width: 100%;
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1.5%;
  background-color: var(--green);
  text-align: justify;
  font-size: 1.2rem;
  margin-bottom: 1%;
}

#advantages p {
  margin-bottom: 1%;
}

.bold {
  font-weight: bolder;
}

.thin {
  font-weight: lighter;
}

.mseries {
  margin-top: 3%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ms {
  width: 260px;
  height: 140px;
}

/*Right side*/

#right {
  width: 40%;
}

.player {
  width: 90%;
  padding-left: 5%;
  height: 218px;
}

h1 {
  color: var(--green);
  font-size: 2.5rem;
  padding: 3%;
  margin-left: 2%;
}

ul {
  padding: 1% 9% 0% 9%;
  font-size: 1.5rem;
}

ul li {
  margin-bottom: 10px;
}

.guests {
  margin-top: 3%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.guests img {
  height: 200px;
  width: 150px;
}

/*Responsive*/

@media only screen and (max-width: 576px) {
  main {
    flex-direction: column;
    padding: 0;
  }

  #left {
    width: 100%;
  }

  header {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  #aurora-img {
    margin-top: 1%;
    height: 40px;
    width: 60%;
  }

  #cutthrough {
    height: 40px;
    width: 60%;
  }

  .firstP {
    width: 100%;
    height: 210px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--green);
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 1%;
    line-height: 1.4;
  }

  .secondP {
    width: 100%;
  }

  .mseries {
    margin: 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #right {
    width: 100%;
  }

  .guests {
    margin: 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  main {
    padding: 0;
    width: 100%;
    height: 200vh;
  }

  #left {
    width: 55%;
  }

  header {
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .firstP {
    height: 230px;
  }

  .mseries {
    margin: 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #right {
    width: 45%;
  }

  .guests {
    margin: 0;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  main {
    height: 100vh;
  }

  .firstP {
    height: 160px;
  }

  .ms {
    width: 160px;
    height: 100px;
  }

  .guests img {
    height: 180px;
    width: 120px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  main {
    height: 173vh;
  }

  .mseries {
    margin: 0;
  }

  .ms {
    width: 197px;
    height: 110px;
  }

  .guests img {
    height: 175px;
    width: 115px;
  }
}
